
<h1>REGISTER PAGE</h1>
<form #registerUserForm='ngForm' novalidate (ngSubmit)='onSubmit(registerUserForm.value, registerUserForm.valid)'>
  <div class="form-group">
    <label for="name">Name:</label>
    <input
      type="text" 
      id="name" 
      name="name" 
      [(ngModel)]='user.name' 
      #name='ngModel' 
      required/>
    <div [hidden]='name.valid || name.pristine'>
      Name is required!
    </div>
  </div> 

  <div class="form-group">
    <label for="email">Email:</label>
    <input 
      type="email" 
      id="email" 
      name="email" 
      [(ngModel)]='user.email' 
      #email='ngModel' 
      required/>
    <div [hidden]='email.valid || email.pristine'>
      Email is required!
    </div>
  </div>

  <div class="form-group">
    <label for="password">Password:</label>
    <input 
      type="password" 
      id="password" 
      name="password" 
      [(ngModel)]='user.password'  
      #password='ngModel'
      minlength="6"
      maxlength="20"      
      required/>
    <div [hidden]='password.valid || password.pristine'>
      Password is required! 
    </div>
  </div>
  
  <div class="form-group">
    <label for="confirmPassword">Confirm password:</label>
    <input 
      type="password" 
      id="confirmPassword" 
      name="confirmPassword" 
      [(ngModel)]='user.confirmPassword'  
      #confirmPassword='ngModel'
      minlength="6"
      maxlength="20"      
      required/>
    <div [hidden]='password.value === confirmPassword.value || confirmPassword.pristine'>
      Password and Confirm Password not match!
    </div>
  </div>
  
  <button
    type="submit" 
    [disabled]='!registerUserForm.form.valid || password.value !== confirmPassword.value' 
    class="btn btn-success">Register</button>
</form>
