<h1>LOGIN PAGE</h1>
<div>{{userToken}}</div>
<form #loginFormUser='ngForm' (ngSubmit)='onSubmit()'>
  <div class="form-group">
    <label for="email">Email:</label>
    <input 
      type="email" 
      id="email" 
      name="email" 
      [(ngModel)]='user.email' 
      #email='ngModel' 
      required/>
    <div [hidden]='email.valid || email.pristine'>
      Email is required!
    </div>
  </div>  

  <div class="form-group">
    <label for="password">Password:</label>
    <input 
      type="password" 
      id="password"
      name="password" 
      [(ngModel)]='user.password'
      #password='ngModel'
      required
      minlength="6"
      maxlength="20"/>
    <div [hidden]='password.valid || password.pristine'> 
      Password is required!
    </div>
  </div>  
  <button type="submit" [disabled]="!loginFormUser.form.valid" class="btn btn-success">Login</button>
</form>