<h1>Animal reaction:</h1>

<form #animalCommentForm='ngForm' (ngSubmit)='onSubmit()'>
  
  <div class="form-group">
    <label for="comment">Comment:</label>
    <textarea 
      id="comment"
      name="comment" 
      [(ngModel)]='message'
      #comment='ngModel'
      required ></textarea>
    <div [hidden]='comment.valid || comment.pristine'>
      Comment is required!
    </div>
  </div>
  
  <button type="submit" [disabled]="!animalCommentForm.form.valid" class="btn btn-success">Create Comment</button>
</form> 